body {
  margin-top: 1.0em;
  font-family: Helvetica,Arial,FreeSans;
  color: #000000;
}

#header {
  margin-left: 100px;
}

#container {
  display: inline-block;
  max-width: 700px;
}

h1 {
  font-size: 2.8em;
  color: #233715;
  margin-bottom: 3px;
}

.subtitle {
  font-style: italic;
}

h1 .small {
  font-size: 0.4em;
}

h1 a {
  text-decoration: none
}

h2 {
  font-size: 1.5em;
  color: #233715;
}

h3 {
  text-align: center;
  color: #233715;
}

a {
  color: #233715;
}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
}

#sidebar {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  padding-top: 50px;
}

#sidebar li {
  padding-bottom: 3px;
  font-size: 80%;
}

.download {
  font-size: 150%;
  text-align: center;
  padding-top: 20px;
}

.list2 {
  margin-left: 15px;
}

pre {
  padding: 15px;
}

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa
}

.footer {
  text-align:center;
  padding-top:30px;
  font-style: italic;
}
