body {
  margin-top: 1.0em;
  font-family: Helvetica,Arial,FreeSans;
  color: #000000;
}

#header {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  padding-left: 100px;
  box-shadow: #EEE 0px 2px 3px;
  -moz-box-shadow: #EEE 0px 2px 3px;
  -webkit-box-shadow: #EEE 0px 2px 3px;
}

#container {
  display: inline-block;
  max-width: 700px;
}

@font-face {  
  font-family: "SilkRoad";  
  src: url( SilkRoad.eot ); /* IE */  
  src: local("SilkRoad"), url( SilkRoad.ttf ) format("truetype"); /* non-IE */  
} 

h1 {
  font-family: SilkRoad, Helvetica, Arial, FreeSans;
  font-size: 5em;
  color: #233715;
  margin-bottom: 0px;
  margin-top: 0px;
  letter-spacing: 4px;
}

.subtitle {
  font-style: italic;
  font-size: 90%;
}

h1 .small {
  font-size: 0.4em;
}

h1 a {
  text-decoration: none
}

h2 {
  font-size: 1.5em;
  color: #233715;
}

h3 {
  text-align: center;
  color: #233715;
}

a {
  color: #233715;
}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
}

#sidebar {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  padding-top: 50px;
}

#sidebar li {
  padding-bottom: 3px;
  font-size: 80%;
}

.download {
  font-size: 150%;
  text-align: center;
  padding-top: 20px;
}

.list2 {
  margin-left: 15px;
}

pre {
  padding: 15px;
}

hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa
}

.footer {
  text-align:center;
  padding-top:30px;
  font-style: italic;
}
