<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Ronin</title>
	
	<link rel="stylesheet" type="text/css" href="styles.css"/>
	<link rel="stylesheet" type="text/css" href="code.css"/>
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21326690-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
  <a href="http://github.com/kprevas/ronin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="header">
    <h1><a href="/">Ronin</a></h1>
    <div class="subtitle">A type-safe web framework for <a href="http://gosu-lang.org">Gosu</a></div>
  </div>

  <div id="sidebar">
      <div class="download">
        download<br/>
        <a href="https://github.com/downloads/kprevas/ronin/ronin.zip" onClick="pageTracker._trackPageview("/dl/zip");">
          <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
        <a href="https://github.com/downloads/kprevas/ronin/ronin.tgz" onClick="pageTracker._trackPageview("/dl/tgz");">
          <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
      </div>
      <div class="download">
        <a href="Tutorial.html">tutorial</a>
      </div>
      <div class="download">
        docs
      </div>
      <ul>
<li><a href="Ronin.html">Ronin</a>
<li class="list2"><a href="Your-First-Ronin-App.html">Your first Ronin app</a>
<li class="list2"><a href="Server-Configuration.html">Server configuration</a>
<li class="list2"><a href="Controllers.html">Controllers</a>
<li class="list2"><a href="Controller-Arguments.html">Controller arguments</a>
<li class="list2"><a href="Using-JSON.html">Using JSON</a>
<li class="list2"><a href="Views.html">Views</a>
<li class="list2"><a href="Link-Targets.html">Link targets</a>
<li class="list2"><a href="Logging-and-Tracing.html">Logging and tracing</a>
<li class="list2"><a href="Caching.html">Caching</a>
<li class="list2"><a href="Environments.html">Server environments</a>
<li class="list2"><a href="File-Uploads.html">File uploads</a>
<li class="list2"><a href="User-Authentication.html">User authentication</a>
<li class="list2"><a href="CSRF-Protection.html">CSRF protection</a>
<li class="list2"><a href="JSONP-Support.html">JSONP support</a>
<li class="list2"><a href="Admin-Console.html">Admin console</a>
<li class="list2"><a href="Aardvark-in-Ronin.html">Using Aardvark</a>
<li class="list2"><a href="Tips-and-Tricks.html">Tips and tricks</a>
<li><a href="Tosa.html">Tosa</a>
<li class="list2"><a href="Schema-Guidelines.html">Schema guidelines</a>
<li class="list2"><a href="Connecting-to-a-Database.html">Connecting to a database</a>
<li class="list2"><a href="Adding,-Updating,-and-Deleting.html">Adding, updating, and deleting</a>
<li class="list2"><a href="Retrieving-Data.html">Retrieving data</a>
<li class="list2"><a href="Foreign-Keys-and-Join-Tables.html">Foreign keys and join tables</a>
<li class="list2"><a href="Transactions.html">Transactions</a>
<li><a href="Using-Ronin-and-Tosa-Together.html">Using Ronin and Tosa together</a>
<li><a href="Sample-Application.html">Sample application: RoBlog</a>
      </ul>
  </div>

  <div id="container">

    <div class="content">
      {{ content }}
    <div>

    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/kprevas/ronin">kprevas/ronin</a>
    </div>

  </div>

  
</body>
</html>
